[submodule "vim/all-bundles/Align"]
	path = vim/all-bundles/Align
	url = https://github.com/vim-scripts/Align.git
[submodule "vim/all-bundles/AutoAlign"]
	path = vim/all-bundles/AutoAlign
	url = https://github.com/vim-scripts/AutoAlign.git
[submodule "vim/all-bundles/AutomaticLaTexPlugin"]
	path = vim/all-bundles/AutomaticLaTexPlugin
	url = https://github.com/vim-scripts/AutomaticLaTexPlugin.git
[submodule "vim/all-bundles/EasyColour"]
	path = vim/all-bundles/EasyColour
	url = https://github.com/abudden/EasyColour.git
[submodule "vim/all-bundles/LaTeX-Box"]
	path = vim/all-bundles/LaTeX-Box
	url = https://github.com/LaTeX-Box-Team/LaTeX-Box.git
[submodule "vim/all-bundles/OmniCppComplete"]
	path = vim/all-bundles/OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule "vim/all-bundles/Tail"]
	path = vim/all-bundles/Tail
	url = https://github.com/vim-scripts/Tail-Bundle.git
[submodule "vim/all-bundles/VimPdb"]
	path = vim/all-bundles/VimPdb
	url = https://github.com/vim-scripts/VimPdb.git
[submodule "vim/all-bundles/afterimage"]
	path = vim/all-bundles/afterimage
	url = https://github.com/tpope/vim-afterimage.git
[submodule "vim/all-bundles/csv"]
	path = vim/all-bundles/csv
	url = https://github.com/chrisbra/csv.vim.git
[submodule "vim/all-bundles/easytags"]
	path = vim/all-bundles/easytags
	url = https://github.com/xolox/vim-easytags.git
[submodule "vim/all-bundles/fugitive"]
	path = vim/all-bundles/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/all-bundles/info"]
	path = vim/all-bundles/info
	url = https://github.com/vim-scripts/info.vim.git
[submodule "vim/all-bundles/javacomplete"]
	path = vim/all-bundles/javacomplete
	url = https://github.com/vim-scripts/javacomplete.git
[submodule "vim/all-bundles/lusty"]
	path = vim/all-bundles/lusty
	url = https://github.com/sjbach/lusty.git
[submodule "vim/all-bundles/misc"]
	path = vim/all-bundles/misc
	url = https://github.com/xolox/vim-misc.git
[submodule "vim/all-bundles/nerdtree"]
	path = vim/all-bundles/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "vim/all-bundles/now-info"]
	path = vim/all-bundles/now-info
	url = https://github.com/now/vim-info.git
[submodule "vim/all-bundles/now-man"]
	path = vim/all-bundles/now-man
	url = https://github.com/now/vim-man.git
[submodule "vim/all-bundles/now-sudo"]
	path = vim/all-bundles/now-sudo
	url = https://github.com/now/vim-sudo.git
[submodule "vim/all-bundles/octave"]
	path = vim/all-bundles/octave
	url = https://github.com/vim-scripts/octave.vim--.git
[submodule "vim/all-bundles/pathogen"]
	path = vim/all-bundles/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/all-bundles/pep8"]
	path = vim/all-bundles/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule "vim/all-bundles/pyflakes"]
	path = vim/all-bundles/pyflakes
	url = https://github.com/mitechie/pyflakes-pathogen.git
[submodule "vim/all-bundles/repeat"]
	path = vim/all-bundles/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/all-bundles/screen"]
	path = vim/all-bundles/screen
	url = https://github.com/ervandew/screen.git
[submodule "vim/all-bundles/securemodelines"]
	path = vim/all-bundles/securemodelines
	url = https://github.com/ciaranm/securemodelines.git
[submodule "vim/all-bundles/shell"]
	path = vim/all-bundles/shell
	url = https://github.com/xolox/vim-shell.git
[submodule "vim/all-bundles/solarized"]
	path = vim/all-bundles/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/all-bundles/sparkup"]
	path = vim/all-bundles/sparkup
	url = https://github.com/rstacruz/sparkup.git
[submodule "vim/all-bundles/supertab"]
	path = vim/all-bundles/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/all-bundles/surround"]
	path = vim/all-bundles/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/all-bundles/taglist"]
	path = vim/all-bundles/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim/all-bundles/zencoding"]
	path = vim/all-bundles/zencoding
	url = https://github.com/mattn/zencoding-vim.git
[submodule "vim/all-bundles/detectindent"]
	path = vim/all-bundles/detectindent
	url = https://github.com/roryokane/detectindent/
[submodule "vim/all-bundles/accordion"]
	path = vim/all-bundles/accordion
	url = https://github.com/mattboehm/vim-accordion.git
[submodule "vim/all-bundles/unstack"]
	path = vim/all-bundles/unstack
	url = https://github.com/mattboehm/vim-unstack.git
[submodule "vim/all-bundles/tmuxify"]
	path = vim/all-bundles/tmuxify
	url = https://github.com/mhinz/vim-tmuxify.git
[submodule "vim/all-bundles/linediff"]
	path = vim/all-bundles/linediff
	url = https://github.com/AndrewRadev/linediff.vim.git
[submodule "vim/all-bundles/gundo"]
	path = vim/all-bundles/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/all-bundles/diffchar"]
	path = vim/all-bundles/diffchar
	url = https://github.com/rickhowe/diffchar.vim.git
[submodule "vim/all-bundles/diffchanges"]
	path = vim/all-bundles/diffchanges
	url = https://github.com/jmcantrell/vim-diffchanges.git
[submodule "vim/all-bundles/typescript"]
	path = vim/all-bundles/typescript
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/all-bundles/gitv"]
	path = vim/all-bundles/gitv
	url = https://github.com/gregsexton/gitv.git
[submodule "vimperator/all-plugins"]
	path = vimperator/all-plugins
	url = https://github.com/vimpr/vimperator-plugins.git
	branch = 3.6
[submodule "vim/all-bundles/md5"]
	path = vim/all-bundles/md5
	url = https://github.com/vim-scripts/md5.vim.git
[submodule "vim/all-bundles/jedi"]
	path = vim/all-bundles/jedi
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/all-bundles/javacomplete2"]
	path = vim/all-bundles/javacomplete2
	url = https://github.com/artur-shaik/vim-javacomplete2
[submodule "vim/all-bundles/terraform"]
	path = vim/all-bundles/terraform
	url = https://github.com/hashivim/vim-terraform
[submodule "vim/all-bundles/apiblueprint"]
	path = vim/all-bundles/apiblueprint
	url = https://github.com/kylef/apiblueprint.vim
[submodule "vim/all-bundles/markdown"]
	path = vim/all-bundles/markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/all-bundles/cql"]
	path = vim/all-bundles/cql
	url = https://github.com/elubow/cql-vim.git
[submodule "vim/all-bundles/markdown-enhancements"]
	path = vim/all-bundles/markdown-enhancements
	url = https://github.com/mattly/vim-markdown-enhancements
[submodule "vim/all-bundles/sleuth"]
	path = vim/all-bundles/sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "vim/all-bundles/tsuquyomi"]
	path = vim/all-bundles/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi.git
[submodule "vim/all-bundles/js-pretty-template"]
	path = vim/all-bundles/js-pretty-template
	url = https://github.com/Quramy/vim-js-pretty-template.git
[submodule "vim/all-bundles/commentary"]
	path = vim/all-bundles/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/all-bundles/unimpaired"]
	path = vim/all-bundles/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/all-bundles/eunuch"]
	path = vim/all-bundles/eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "vim/all-bundles/scriptease"]
	path = vim/all-bundles/scriptease
	url = https://github.com/tpope/vim-scriptease.git
[submodule "vim/all-bundles/tbone"]
	path = vim/all-bundles/tbone
	url = https://github.com/tpope/vim-tbone.git
[submodule "vim/all-bundles/characterize"]
	path = vim/all-bundles/characterize
	url = https://github.com/tpope/vim-characterize.git
[submodule "vim/all-bundles/abolish"]
	path = vim/all-bundles/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vim/all-bundles/speeddating"]
	path = vim/all-bundles/speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "vim/all-bundles/fixmyjs"]
	path = vim/all-bundles/fixmyjs
	url = https://github.com/ruanyl/vim-fixmyjs.git
[submodule "vim/all-bundles/js-indent"]
	path = vim/all-bundles/js-indent
	url = https://github.com/jason0x43/vim-js-indent.git
[submodule "vim/all-bundles/rust"]
	path = vim/all-bundles/rust
	url = https://github.com/rust-lang/rust.vim.git
[submodule "vim/all-bundles/syntastic"]
	path = vim/all-bundles/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/all-bundles/racer"]
	path = vim/all-bundles/racer
	url = https://github.com/racer-rust/vim-racer.git
[submodule "vim/all-bundles/tcomment"]
	path = vim/all-bundles/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim/all-bundles/cst"]
	path = vim/all-bundles/cst
	url = https://github.com/vim-scripts/Color-Scheme-Test
[submodule "vim/all-bundles/rooter"]
	path = vim/all-bundles/rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "vim/all-bundles/clang_complete"]
	path = vim/all-bundles/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "vim/all-bundles/gutentags"]
	path = vim/all-bundles/gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "vim/all-bundles/bracketed-paste"]
	path = vim/all-bundles/bracketed-paste
	url = https://github.com/ConradIrwin/vim-bracketed-paste.git
[submodule "vim/all-bundles/go"]
	path = vim/all-bundles/go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/all-bundles/pug"]
	path = vim/all-bundles/pug
	url = https://github.com/digitaltoad/vim-pug
