[submodule "vim/all-bundles/Align"]
	path = vim/all-bundles/Align
	url = https://github.com/vim-scripts/Align.git
[submodule "vim/all-bundles/AutoAlign"]
	path = vim/all-bundles/AutoAlign
	url = https://github.com/vim-scripts/AutoAlign.git
[submodule "vim/all-bundles/AutomaticLaTexPlugin"]
	path = vim/all-bundles/AutomaticLaTexPlugin
	url = https://github.com/vim-scripts/AutomaticLaTexPlugin.git
[submodule "vim/all-bundles/EasyColour"]
	path = vim/all-bundles/EasyColour
	url = https://github.com/abudden/EasyColour.git
[submodule "vim/all-bundles/LaTeX-Box"]
	path = vim/all-bundles/LaTeX-Box
	url = https://github.com/LaTeX-Box-Team/LaTeX-Box.git
[submodule "vim/all-bundles/OmniCppComplete"]
	path = vim/all-bundles/OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule "vim/all-bundles/SudoEdit"]
	path = vim/all-bundles/SudoEdit
	url = https://github.com/vim-scripts/SudoEdit.vim.git
[submodule "vim/all-bundles/Tail"]
	path = vim/all-bundles/Tail
	url = http://vim-scripts.googlecode.com/svn/trunk/1714%20Tail%20Bundle
[submodule "vim/all-bundles/VimPdb"]
	path = vim/all-bundles/VimPdb
	url = https://github.com/vim-scripts/VimPdb.git
[submodule "vim/all-bundles/afterimage"]
	path = vim/all-bundles/afterimage
	url = https://github.com/tpope/vim-afterimage.git
[submodule "vim/all-bundles/csv"]
	path = vim/all-bundles/csv
	url = https://github.com/chrisbra/csv.vim.git
[submodule "vim/all-bundles/easytags"]
	path = vim/all-bundles/easytags
	url = https://github.com/xolox/vim-easytags.git
[submodule "vim/all-bundles/fugitive"]
	path = vim/all-bundles/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/all-bundles/info"]
	path = vim/all-bundles/info
	url = https://github.com/vim-scripts/info.vim.git
[submodule "vim/all-bundles/javacomplete"]
	path = vim/all-bundles/javacomplete
	url = https://github.com/vim-scripts/javacomplete.git
[submodule "vim/all-bundles/lusty"]
	path = vim/all-bundles/lusty
	url = https://github.com/sjbach/lusty.git
[submodule "vim/all-bundles/misc"]
	path = vim/all-bundles/misc
	url = https://github.com/xolox/vim-misc.git
[submodule "vim/all-bundles/nerdtree"]
	path = vim/all-bundles/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "vim/all-bundles/now-info"]
	path = vim/all-bundles/now-info
	url = https://github.com/now/vim-info.git
[submodule "vim/all-bundles/now-man"]
	path = vim/all-bundles/now-man
	url = https://github.com/now/vim-man.git
[submodule "vim/all-bundles/now-sudo"]
	path = vim/all-bundles/now-sudo
	url = https://github.com/now/vim-sudo.git
[submodule "vim/all-bundles/octave"]
	path = vim/all-bundles/octave
	url = https://github.com/vim-scripts/octave.vim--.git
[submodule "vim/all-bundles/pathogen"]
	path = vim/all-bundles/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/all-bundles/pep8"]
	path = vim/all-bundles/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule "vim/all-bundles/pyflakes"]
	path = vim/all-bundles/pyflakes
	url = https://github.com/mitechie/pyflakes-pathogen.git
[submodule "vim/all-bundles/repeat"]
	path = vim/all-bundles/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/all-bundles/screen"]
	path = vim/all-bundles/screen
	url = https://github.com/ervandew/screen.git
[submodule "vim/all-bundles/securemodelines"]
	path = vim/all-bundles/securemodelines
	url = https://github.com/ciaranm/securemodelines.git
[submodule "vim/all-bundles/shell"]
	path = vim/all-bundles/shell
	url = https://github.com/xolox/vim-shell.git
[submodule "vim/all-bundles/solarized"]
	path = vim/all-bundles/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/all-bundles/sparkup"]
	path = vim/all-bundles/sparkup
	url = https://github.com/rstacruz/sparkup.git
[submodule "vim/all-bundles/supertab"]
	path = vim/all-bundles/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/all-bundles/surround"]
	path = vim/all-bundles/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/all-bundles/taglist"]
	path = vim/all-bundles/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim/all-bundles/zencoding"]
	path = vim/all-bundles/zencoding
	url = https://github.com/mattn/zencoding-vim.git
[submodule "vim/all-bundles/detectindent"]
	path = vim/all-bundles/detectindent
	url = https://github.com/raymond-w-ko/detectindent/
[submodule "vim/all-bundles/accordion"]
	path = vim/all-bundles/accordion
	url = https://github.com/mattboehm/vim-accordion.git
[submodule "vim/all-bundles/unstack"]
	path = vim/all-bundles/unstack
	url = https://github.com/mattboehm/vim-unstack.git
[submodule "vim/all-bundles/tmuxify"]
	path = vim/all-bundles/tmuxify
	url = https://github.com/mhinz/vim-tmuxify.git
[submodule "vim/all-bundles/linediff"]
	path = vim/all-bundles/linediff
	url = https://github.com/AndrewRadev/linediff.vim.git
[submodule "vim/all-bundles/gundo"]
	path = vim/all-bundles/gundo
	url = https://github.com/sjl/gundo.vim.git
